[access]
	inheritFrom = gchilate28/Demo
[access "refs/*"]
	owner = group user/gchilate (gchilate28)
[access "refs/for/refs/*"]
	read = group user/gchilate (gchilate28)
	push = group user/gchilate (gchilate28)
	label-Code-Review = -2..+2 group user/gchilate (gchilate28)
	label-Verified = -1..+1 group user/gchilate (gchilate28)
	rebase = group user/gchilate (gchilate28)
	removeReviewer = group user/gchilate (gchilate28)
	submit = group user/gchilate (gchilate28)
[access "refs/heads/*"]
	read = group user/gchilate (gchilate28)
	create = group user/gchilate (gchilate28)
	push = +force group user/gchilate (gchilate28)
	pushMerge = group user/gchilate (gchilate28)
[access "refs/tags/*"]
	push = group user/gchilate (gchilate28)
	push = +force group user/gchilate (gchilate28)
[access "refs/for/Test"]
	read = group user/gchilate (gchilate28)
	addPatchSet = group user/gchilate (gchilate28)
	push = group user/gchilate (gchilate28)
	pushMerge = group user/gchilate (gchilate28)
	label-Code-Review = -2..+2 group user/gchilate (gchilate28)
	rebase = group user/gchilate (gchilate28)
	submit = group user/gchilate (gchilate28)
[access "refs/for/master"]
	read = group user/gchilate (gchilate28)
	addPatchSet = group user/gchilate (gchilate28)
	push = group user/gchilate (gchilate28)
	pushMerge = group user/gchilate (gchilate28)
	label-Code-Review = -2..+2 group user/gchilate (gchilate28)
	rebase = group user/gchilate (gchilate28)
	submit = group user/gchilate (gchilate28)
